*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

header{
    font-family: 'Raleway';
    width: 100%;
    height: 600px;
    background: fixed, url(../IMG/FondoBanner.png);
    background-size: cover;

}

nav{
    text-align: right;
    padding: 30px 50ox 0 0;
    margin-top: 10px;
}

nav>a{
    color: #eeeeee;
    font-weight: 300;
    text-decoration: none;
    font-size: 16px;
    margin-right: 10px;
}